/* Heading and Title Fonts */
h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Noto Serif', serif;
}

/* Body Font */

.ndi-btn {
    border: 2px solid #F0F9F4;
    color: white;
    border-radius: 28px !important;
    padding: 12px 28px !important;
    font-weight: bold;
    text-decoration: none !important;
    
}

.ndi-btn:hover{
    border: 2px solid #F0F9F4;
    background-color: #124143;
}

.qr-code-outline {
    border: 3px solid #5AC994;
    border-radius: 6px;
    padding: 8px;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 30px;
}

.ndi-btn-2 {
    background-color: #5AC994 !important;
    color: white !important;
    border-radius: 22px !important;
    padding: 8px 28px !important;
}

.btn-blue-bnb {
    color: white !important;
    font-weight: bold;
    background-color: #252D60 !important;
    border-radius: 6px !important;
    padding: 12px 24px 12px 14px;
}
.btn-blue-bnb-outline {
    color: var(--bnb-blue) !important;
    font-weight: bold;
    background-color: white !important;
    border-radius: 6px !important;
    padding: 12px 24px 12px 14px;
    border: 2px solid var(--bnb-red);
}

.error-message {
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #F6F6F6 inset !important;
    box-shadow: 0 0 0 1000px #F6F6F6 inset !important;
    -webkit-text-fill-color: rgb(122, 122, 122) !important;
    caret-color: inherit !important;

}