<div class="flex justify-center bg-white">
  <img src="https://brand.bnb.bt/wp-content/uploads/2023/12/Logo-Rebrand-RGB_Primary.svg"
       alt="bnb logo" height="55.5" width="118" class="lg:h-[107px] lg:w-[228px]">
</div>
