<!DOCTYPE html>
<html>
  <head>
    <title>NdiMiddleware</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://bnb.bt/wp-content/uploads/2024/04/BNB-favcon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="haha">
    <%= yield %>
  </body>
  <%#%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
